<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<br>
<br>
<img src="{{category.image.url}}" height="1000px" width="100%">

 <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>{{category.name}}</h1>
                        <p>{{category.description}}</p>
                    </div>
                </div>
            </div>
<!--            <div class="row">-->
<!--                <div class="col-lg-12">-->
<!--                    <div class="special-menu text-center">-->
<!--                        <div class="button-group filter-button-group">-->
<!--                            <button class="active" data-filter="*">All</button>-->
<!--                            <button data-filter=".top-featured">Top featured</button>-->
<!--                            <button data-filter=".best-seller">Best seller</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <div class="row special-list">
                {% for j in category.products.all %}
                <div class="col-lg-3 col-md-6 special-grid best-seller">
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">Sale</p>
                            </div>
                            <img src="{{j.image.url}}" class="" alt="Image" height="200px" width="100%">
                            <div class="mask-icon">
                                <ul>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                </ul>
                                <a class="cart" href="{% url 'shop:productdetail' j.id %}">Details</a>
                            </div>
                        </div>
                        <div class="why-text">

                               <h2>{{j.name}}</h2>
                                <h2>{{j.price}}</h2>

                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- End Products  -->
{% endblock %}